@import "components/hna-toast.css";
@import "module/hna-passwordDialog.css";

body{
    padding-top:30px;
    background-color: #f0f0f0;
}
.password-view-wrapper{
    padding: 0;
}
.hna-passwordDialog .btn-wrapper{
    padding: 0;
}

.extra{
    padding: 0 15px;
}
.error-tip{
    color: #f64141;
    font-size:12px;
    text-align: center;
    line-height:2;
}
.forget-password{
    text-align: right;
}
.forget-password > a{
    color: #007aff;
    font-size:14px;
}